/* Base */
/* ------------------------------------------------------------------ */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600|Open+Sans:400italic,400,300,600);

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 160%;
    background-color: #ddd;
    color: #555;
}

.white {
    background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #009c82;
}

a {
    color: #009c82;
}

a:hover,
a:focus,
a:active {
    color: #000;
    text-decoration: none;
}

.inverse {
    background-color: #009c82 !important;
    color: #fff;
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

iframe {
    border: 0;
}

.video iframe,
.video object,
.video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.two_cols > li {
    float: left;
    width: 33.333333333333333%;
}

.home-section {
    margin-bottom: 40px
}

@media (max-width: 1199px) { 
    .boxed {
        border: 0
    }
}

.wrap-pattern {
    background-color: #009c82;
    background-image: url(../img/bg.png);
    background-repeat: repeat;
    color: #fff;
    border-bottom: solid 1px #ccc;
}

.page-title {
    background-color: #009c82;
    color: #fff;
    margin-bottom: 40px;
    padding: 20px 0;
    overflow: hidden;
}

.page-title h1 {
    margin: 0;
    padding: 0;
    line-height: 100%;
    display: inline-block;
    color: #fff;
}

.section-title {
    margin: 40px 0 20px 0;
    padding: 0 0 5px 0;
    border-bottom: solid 7px #ddd;
    color: #009c82;
}

blockquote.quote1 {
    border: solid 1px #ccc;
    border-bottom: solid 4px #009c82;
    padding: 20px;
    border-radius: 3px;
    overflow: auto;
}

blockquote.quote1 p {
    font-size: 1.8em;
    font-family: 'Source Sans Pro', sans-serif;
}

blockquote.quote1 small {
    font-size: 1.2em;
    float: right;
}

blockquote.quote1 img {
    float: left;
    margin-right: 20px;
    border-radius: 50px;
}

#home-quote {
    margin-top: 30px
}

/* Bootstrap */

/* ------------------------------------------------------------------ */

/* breadcrumb */

.breadcrumb {
    display: inline-block;
    float: right;
    margin: 0;
    background: none;
    color: #fff;
}

.breadcrumb > .active {
    color: #fff
}

.breadcrumb > li + li:before {
    padding: 0 7px 0 0;
    color: #fff;
    content: "\a0»";
}

.breadcrumb a {
    color: #ddd
}

.breadcrumb a:hover {
    color: #fff
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #009c82;
    border-color: #009c82;
}

/* Pagination */

.pagination a.active {
    background-color: #009c82
}

/* Buttons */

.btn {
    -webkit-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0px 1px 0px rgba(255, 255, 255, 0.5), 0px 1px 2px rgba(0, 0, 0, 0.15);
    background-color: #eeeeee;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fbfbfb), color-stop(100%, #e1e1e1));
    background: -webkit-linear-gradient(top, #fbfbfb, #e1e1e1);
    background: -moz-linear-gradient(top, #fbfbfb, #e1e1e1);
    background: -o-linear-gradient(top, #fbfbfb, #e1e1e1);
    background: linear-gradient(top, #fbfbfb, #e1e1e1);
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    border: 1px solid #d4d4d4;
    line-height: 32px;
    padding: 0px 25.6px;
    font-weight: 300;
    font-size: 14px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #666666;
    text-shadow: 0 1px 1px white;
    margin: 0;
    text-decoration: none;
    text-align: center;
}

/* line 43, ../scss/partials/_buttons.scss */

.btn:hover {
    background-color: #eeeeee;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #ffffff, #dcdcdc);
    background: -moz-linear-gradient(top, #ffffff, #dcdcdc);
    background: -o-linear-gradient(top, #ffffff, #dcdcdc);
    background: linear-gradient(top, #ffffff, #dcdcdc);
}

/* line 47, ../scss/partials/_buttons.scss */

.btn:active {
    -webkit-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    -moz-box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3), 0px 1px 0px white;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    background: #eeeeee;
    color: #bbbbbb;
}

/* line 53, ../scss/partials/_buttons.scss */

.btn:focus {
    outline: none
}

.btn.disabled,
.btn.disabled:hover,
.btn.disabled:active,
input.btn:disabled,
button.btn:disabled {
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    background: #EEE;
    border: 1px solid #DDD;
    text-shadow: 0 1px 1px white;
    color: #CCC;
    cursor: default;
}

/* line 135, ../scss/partials/_btns.scss */

.btn-primary {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00b5e5), color-stop(100%, #008db2));
    background: -webkit-linear-gradient(top, #00b5e5, #008db2);
    background: -moz-linear-gradient(top, #00b5e5, #008db2);
    background: -o-linear-gradient(top, #00b5e5, #008db2);
    background: linear-gradient(top, #00b5e5, #008db2);
    background-color: #00a1cb;
    border-color: #007998;
    color: white;
    text-shadow: 0 -1px 1px rgba(0, 40, 50, 0.35);
}

/* line 142, ../scss/partials/_btns.scss */

.btn-primary:hover {
    background-color: #00a1cb;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c9fe), color-stop(100%, #008db2));
    background: -webkit-linear-gradient(top, #00c9fe, #008db2);
    background: -moz-linear-gradient(top, #00c9fe, #008db2);
    background: -o-linear-gradient(top, #00c9fe, #008db2);
    background: linear-gradient(top, #00c9fe, #008db2);
}

/* line 146, ../scss/partials/_btns.scss */

.btn-primary:active {
    background: #1495b7;
    color: #005065;
}

/* line 135, ../scss/partials/_btns.scss */

.btn-success {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8fcf00), color-stop(100%, #6b9c00));
    background: -webkit-linear-gradient(top, #8fcf00, #6b9c00);
    background: -moz-linear-gradient(top, #8fcf00, #6b9c00);
    background: -o-linear-gradient(top, #8fcf00, #6b9c00);
    background: linear-gradient(top, #8fcf00, #6b9c00);
    background-color: #7db500;
    border-color: #5a8200;
    color: white;
    text-shadow: 0 -1px 1px rgba(19, 28, 0, 0.35);
}

/* line 142, ../scss/partials/_btns.scss */

.btn-success:hover {
    background-color: #7db500;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a0e800), color-stop(100%, #6b9c00));
    background: -webkit-linear-gradient(top, #a0e800, #6b9c00);
    background: -moz-linear-gradient(top, #a0e800, #6b9c00);
    background: -o-linear-gradient(top, #a0e800, #6b9c00);
    background: linear-gradient(top, #a0e800, #6b9c00);
}

/* line 146, ../scss/partials/_btns.scss */

.btn-success:active {
    background: #76a312;
    color: #374f00;
}

/* line 135, ../scss/partials/_btns.scss */

.btn-warning {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fa9915), color-stop(100%, #d87e04));
    background: -webkit-linear-gradient(top, #fa9915, #d87e04);
    background: -moz-linear-gradient(top, #fa9915, #d87e04);
    background: -o-linear-gradient(top, #fa9915, #d87e04);
    background: linear-gradient(top, #fa9915, #d87e04);
    background-color: #f18d05;
    border-color: #bf7004;
    color: white;
    text-shadow: 0 -1px 1px rgba(91, 53, 2, 0.35);
}

/* line 142, ../scss/partials/_btns.scss */

.btn-warning:hover {
    background-color: #f18d05;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fba42e), color-stop(100%, #d87e04));
    background: -webkit-linear-gradient(top, #fba42e, #d87e04);
    background: -moz-linear-gradient(top, #fba42e, #d87e04);
    background: -o-linear-gradient(top, #fba42e, #d87e04);
    background: linear-gradient(top, #fba42e, #d87e04);
}

/* line 146, ../scss/partials/_btns.scss */

.btn-warning:active {
    background: #d8891e;
    color: #8d5303;
}

/* line 135, ../scss/partials/_btns.scss */

.btn-danger {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e8543f), color-stop(100%, #d9331a));
    background: -webkit-linear-gradient(top, #e8543f, #d9331a);
    background: -moz-linear-gradient(top, #e8543f, #d9331a);
    background: -o-linear-gradient(top, #e8543f, #d9331a);
    background: linear-gradient(top, #e8543f, #d9331a);
    background-color: #e54028;
    border-color: #c22d18;
    color: white;
    text-shadow: 0 -1px 1px rgba(103, 24, 13, 0.35);
}

/* line 142, ../scss/partials/_btns.scss */

.btn-danger:hover {
    background-color: #e54028;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eb6855), color-stop(100%, #d9331a));
    background: -webkit-linear-gradient(top, #eb6855, #d9331a);
    background: -moz-linear-gradient(top, #eb6855, #d9331a);
    background: -o-linear-gradient(top, #eb6855, #d9331a);
    background: linear-gradient(top, #eb6855, #d9331a);
}

/* line 146, ../scss/partials/_btns.scss */

.btn-danger:active {
    background: #cd5240;
    color: #952312;
}

/* line 135, ../scss/partials/_btns.scss */

.btn-info {
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #99389f), color-stop(100%, #752a79));
    background: -webkit-linear-gradient(top, #99389f, #752a79);
    background: -moz-linear-gradient(top, #99389f, #752a79);
    background: -o-linear-gradient(top, #99389f, #752a79);
    background: linear-gradient(top, #99389f, #752a79);
    background-color: #87318c;
    border-color: #632466;
    color: white;
    text-shadow: 0 -1px 1px rgba(26, 9, 27, 0.35);
}

/* line 142, ../scss/partials/_btns.scss */

.btn-info:hover {
    background-color: #87318c;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ab3eb2), color-stop(100%, #752a79));
    background: -webkit-linear-gradient(top, #ab3eb2, #752a79);
    background: -moz-linear-gradient(top, #ab3eb2, #752a79);
    background: -o-linear-gradient(top, #ab3eb2, #752a79);
    background: linear-gradient(top, #ab3eb2, #752a79);
    border-color: #632466;
}

/* line 146, ../scss/partials/_btns.scss */

.btn-info:active {
    background: #764479;
    color: #3e1740;
}

.btn-info:focus {
    border-color: #632466
}

.btn-lg {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
}

.btn-sm,
.btn-xs {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.btn-xs {
    padding: 1px 5px
}

.btn-block {
    display: block;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

.btn-block + .btn-block {
    margin-top: 5px
}

.btn-transparent {
    background: none;
    color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: solid 1px #fff;
    text-shadow: none;
}

.btn-transparent:hover {
    background: none;
    background-color: rgba(255, 255, 255, 0.6);
    color: #009c82;
}

/* Nav-tabs */

.nav-tabs-simple li a {
    border-top: solid 3px #ddd;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    color: #555;
    margin-right: 3px;
    font-size: 1.2em;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
}

.nav-tabs-simple li a:hover,
.nav-tabs-simple li.active a,
.nav-tabs-simple li.active a:hover,
.nav-tabs-simple li.active a:focus {
    border-top: solid 3px #009c82;
    background-color: #fff;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    color: #009c82;
    padding-right: 30px;
    padding-left: 30px;
}

.nav-tabs-simple + .tab-content {
    padding: 15px;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}

.nav-tabs-simple-2 {
    border-top: solid 4px #ddd;
    border-right: solid 1px #ddd;
}

.nav-tabs-simple-2 li:first-child a {
    border-left: solid 1px #ddd
}

.nav-tabs-simple-2 li a {
    margin-top: -4px;
    margin-right: 0;
    border-radius: 0;
    border-top: solid 3px #ddd;
    color: #555;
    font-size: 1.2em;
    transition: all .2s;
    -moz-transition: all .2s;
    -webkit-transition: all .2s;
}

.nav-tabs-simple-2 li a:hover,
.nav-tabs-simple-2 li.active a,
.nav-tabs-simple-2 li.active a:hover,
.nav-tabs-simple-2 li.active a:focus {
    border-top: solid 3px #009c82;
    background-color: #fff;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    color: #009c82;
    padding-right: 30px;
    padding-left: 30px;
}

.nav-tabs-simple-2 + .tab-content {
    padding: 15px;
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}

/* Acordion */

.panel-simple {

}

.panel-simple > .panel-heading {
    padding: 0
}

.panel-simple > .panel-heading a {
    padding: 15px;
    background-color: #009c82;
    color: #fff;
    font-family: 'open Sand', sans-serif;
    font-size: 1em;
    text-decoration: none;
    display: block;
    border: solid 1px #009c82;
}

.panel-simple > .panel-heading a.collapsed {
    background-color: #fff;
    color: #555;
    border: solid 1px #ddd;
    border-top: solid 3px #009c82;
}

.panel-simple .panel-body {
    border-left: solid 1px #ddd;
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}

.panel-simple-2 {

}

.panel-simple-2 > .panel-heading {
    padding: 0
}

.panel-simple-2 > .panel-heading a {
    padding: 12px 15px;
    background-color: #009c82;
    color: #fff;
    font-family: 'open Sand', sans-serif;
    font-size: 1em;
    text-decoration: none;
    display: block;
    border: solid 1px #009c82;
}

.panel-simple-2 > .panel-heading a.collapsed {
    background-color: #fff;
    color: #555;
    border: solid 1px #ccc;
}

.panel-simple-2 > .panel-heading a.collapsed:before {
    font-family: 'FontAwesome';
    content: "\f067";
    font-size: 1.4em;
    margin-right: 10px;
    vertical-align: middle;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
}

.panel-simple-2 > .panel-heading a:before {
    font-family: 'FontAwesome';
    content: "\f068";
    font-size: 1.4em;
    margin-right: 10px;
    vertical-align: middle;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
}

.panel-simple-2 .panel-body {
    border-left: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
}

/* Figure Caption */

/* ------------------------------------------------------------------ */

figure.caption {
    position: relative;
    display: block;
    overflow: hidden;
}

figure.caption h1,
figure.caption h2,
figure.caption h3,
figure.caption h4,
figure.caption h5 {
    color: #fff;
}

@media (max-width: 763px) { 
    figure.caption {
    }
}

figure.caption img {
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

figure.caption figcaption {
    position: absolute;
    width: 100%;
    background-color: #009c82;
    color: #fff;
    padding: 10px;
    overflow: hidden;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

figure.caption h3 {
    font-size: 1.4em;
    font-weight: 300;
    line-height: 1.43em;
    margin: 0 0 10px 0;
    padding: 0;
}

figure.caption p {
    margin: 0 0 10px 0;
    padding: 0;
    display: inline-block;
}

figure.caption-bottom figcaption {
    height: 100px;
    bottom: -100px;
    left: 0;
}

figure.caption-bottom:hover figcaption,
figure.caption-bottom.cs-hover figcaption {
    bottom: 0
}

figure.caption-bottom:hover img,
figure.caption-bottom.cs-hover img {
    -webkit-transform: translateY(-80px);
    -moz-transform: translateY(-80px);
    -ms-transform: translateY(-80px);
    -o-transform: translateY(-80px);
    transform: translateY(-80px);
}

figure.caption-top figcaption {
    height: 100px;
    top: -100px;
    left: 0;
}

figure.caption-top:hover figcaption {
    top: 0
}

figure.caption-top:hover img {
    -webkit-transform: translateY(80px);
    -moz-transform: translateY(80px);
    -ms-transform: translateY(80px);
    -o-transform: translateY(80px);
    transform: translateY(80px);
}

figure.caption-left figcaption {
    height: 100%;
    left: -200px;
    top: 0;
}

figure.caption-left:hover figcaption {
    left: 0
}

figure.caption-left:hover img {
    -webkit-transform: translateX(180px);
    -moz-transform: translateX(180px);
    -ms-transform: translateX(180px);
    -o-transform: translateX(180px);
    transform: translateX(180px);
}

figure.caption-right figcaption {
    height: 100%;
    right: -200px;
    top: 0;
}

figure.caption-right:hover figcaption {
    right: 0
}

figure.caption-right:hover img {
    -webkit-transform: translateX(-180px);
    -moz-transform: translateX(-180px);
    -ms-transform: translateX(-180px);
    -o-transform: translateX(-180px);
    transform: translateX(-180px);
}

/* Navbar */

/* ------------------------------------------------------------------ */

/* Brand (Title) */

.navbar-lime {
    margin-bottom: 0;
    font-family: 'Source Sans Pro', sans-serif;
    border: 0;
    background-color: #303030;
}

.navbar-lime a.navbar-brand {
    color: #fff;
    text-transform: lowercase;
    font-size: 2.2em;
    font-weight: 200;
    padding-bottom: 10px;
}

.navbar-lime a.navbar-brand > span {
    color: #1dd9b9;
    -webkit-text-stroke-width: 0.6px;
}

.navbar-lime a.navbar-brand > i {
    margin-right: 10px;
    font-size: .8em;
    color: #1dd9b9;
    -webkit-text-stroke-width: 0.6px;
}

/* Top Menu */

.navbar-lime ul.navbar-nav > li > a {
    font-family: "Source Sans Pro", sans-serif;
    color: #ddd;
    font-weight: 300;
    font-size: 1.3em;
    border-top: solid 4px #303030;
    min-width: 90px;
    text-align: center;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.navbar-lime .navbar-nav > li.active > a,
.navbar-lime .navbar-nav > li.active > a:hover,
.navbar-lime .navbar-nav > li > a:hover,
.navbar-lime .navbar-nav > .open > a,
.navbar-lime .navbar-nav > .open > a:hover,
.navbar-lime .navbar-nav > .open > a:focus {
    border-top: solid 4px #1dd9b9;
    background-color: #303030;
    color: #1dd9b9;
    -webkit-text-stroke-width: 0.6px;
}

.navbar-lime .dropdown-menu li a:hover {
    background-color: #009c82;
    color: #fff;
}

@media (min-width: 768px) and (max-width: 991px) { 
    .navbar-lime ul.navbar-nav > li > a {
        min-width: 0
    }
}

@media (min-width: 768px) { 
    .navbar-lime .navbar-right .dropdown-menu {
        right: auto;
        left: 0;
    }
}

/* Carousel Home */

/* ------------------------------------------------------------------ */

#carousel-home {
    overflow: hidden
}

#carousel-home .carousel-control {
    background: none
}

#carousel-home .carousel-indicators {
    top: 10px;
    bottom: auto;
    left: 50%;
}

#carousel-home .carousel-caption {
    position: static;
    padding: 20px;
}

#carousel-home .carousel-caption h1,
#carousel-home .carousel-caption h2,
#carousel-home .carousel-caption h3,
#carousel-home .carousel-caption h4 {
    color: #fff;
}

#carousel-home .item {
    margin-bottom: 0px
}

#carousel-home img {

}

@media (min-width: 1200px) { 
    #carousel-home {
        max-width: 960px;
        margin: 0 auto;
    }

    #carousel-home .carousel-caption {
        max-width: 90%;
        margin: 0 auto;
    }
}

/* Home Features */

/* ------------------------------------------------------------------ */

#home-features {

}

.home-features-item {
    background-color: #eee;
    border: solid 1px #ccc;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}

.home-features-item .item-icon {
    text-align: center;
    padding: 20px;
}

.home-features-item i {
    color: #009c82;
    font-size: 14em;
}

.hover {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.home-features-item .item-content {
    background-color: #009c82;
    color: #fff;
    padding: 20px;
    height: 300px;
    position: absolute;
    z-index: 10;
    top: 235px;
    left: 0;
    -webkit-transition: all .4s linear;
    -moz-transition: all .4s linear;
    -ms-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}

.home-features-item:hover .item-content,
.home-features-item.cs-hover .item-content {
    top: 0
}

.home-features-item .item-content h3 {
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
    margin: 0 0 20px 0;
    color: #fff;
}

@media (min-width: 768px) and (max-width: 991px) { 
    .home-features-item {
        height: 250px
    }

    .home-features-item i {
        font-size: 12em
    }

    .home-features-item .item-content {
        font-size: .8em;
        line-height: 1.6em;
    }

    .home-features-item .item-content h3 {
        font-size: 1.5em;
        margin: 0 0 10px 0;
    }

    .home-features-item .item-content {
        padding: 10px;
        height: 250px;
        top: 210px;
        left: 0;
    }
}

@media (min-width: 992px) { 
    .home-features-item .item-content {
        font-size: .98em;
        line-height: 1.6em;
    }

    .home-features-item i {
        font-size: 14em
    }
}

@media (min-width: 1200px) { 
    .home-features-item {
        width: 90%
    }

    .home-features-item .item-content {
        line-height: 1.7em
    }

    .home-features-item i {
        font-size: 14em
    }
}

/* ABOUT US HOME */

/* ----------------------------------------------------- */

#home-about {

}

.home-about-text {
    padding-right: 40px
}

.home-about-text p {
    line-height: 170%;
    font-size: 1.3em;
    padding-right: 30px;
    margin-bottom: 20px;
}

.home-about-features {
    padding-left: 30px
}

.about-item {
    overflow: hidden;
    margin-bottom: 20px;
}

.about-item-icon {
    float: left
}

.about-item i {
    font-size: 4em;
    margin-right: 20px;
    color: #009c82;
}

.about-item h3 {
    margin: 0;
    padding: 0 0 10px 0;
}

.about-item p {
    line-height: 170%
}

/* Latest Works */
/* ---------------------------------------------------------- */

#latest-works figure {
    margin-bottom: 30px;
}

/* Home Workflow */
/* ---------------------------------------------------------- */

#workflow {
    background-color: #EEF0F9;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding: 30px 0;
    position: relative;
}

.home-title {
    color: #C3C4CC;
    text-transform: uppercase;
    font-size: 2.4em;
    text-align: center;
    padding: 0;
    margin: 0 0 40px 0;
    text-shadow: rgba(255, 255, 255, 0.4) 0px 1px 0px;
    font-weight: 300;
    color: #009c82;
}

.workflow-line {
    position: relative
}

.workflow-item {
    border: solid 10px #009c82;
    padding: 10px;
    border-radius: 500px;
    height: 200px;
    width: 200px;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 4;
    vertical-align: center;
    margin: 0 12px;
    background-color: #EEF0F9;
    overflow: hidden;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.workflow-item h2 {
    color: #555;
}

.workflow-item i {
    font-size: 5em
}

.workflow-caption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 25px;
    font-size: .9em;
    background-color: #009c82;
    border-radius: 500px;
    color: #fff;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg); /* Safari and Chrome */
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden; /* Chrome and Safari */
    -moz-backface-visibility: hidden; /* Firefox */
    -ms-backface-visibility: hidden; /* Internet Explorer */
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.workflow-caption p {
    margin-bottom: 0
}

.workflow-item:hover,
.workflow-item.cs-hover {
    background-color: #009c82
}

.workflow-item:hover .workflow-caption,
.workflow-item.cs-hover .workflow-caption {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg); /* Safari and Chrome */
}

@media (min-width: 768px) { 
    #workflow:before {
        border-top: 50px solid #009c82;
        content: "";
        margin: 0 auto;
        position: absolute;
        top: 53%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: 0;
    }

    .workflow-item {
        width: 140px;
        height: 140px;
        margin: 0;
        padding: 5px;
    }

    .workflow-item h2 {
        font-size: 1.7em
    }

    .workflow-item i {
        font-size: 3em
    }

    .workflow-caption {
        padding: 9px;
        font-size: .8em;
        line-height: 120%;
    }

    .workflow-caption p {
        position: relative;
        margin-top: 0%;
    }
}

@media (min-width: 992px) { 
    .workflow-item {
        width: 180px;
        height: 180px;
        margin: 0 2px;
        padding: 5px;
    }

    .workflow-item h2 {
        font-size: 2.1em
    }

    .workflow-item i {
        font-size: 5em
    }

    .workflow-caption {
        padding: 10px 20px 20px 20px;
        font-size: .9em;
        line-height: 140%;
    }
}

@media (min-width: 1200px) { 
    .workflow-item {
        width: 200px;
        height: 200px;
        margin: 0 12px;
        padding: 5px;
    }

    .workflow-item h2 {
        font-size: 2.1em
    }

    .workflow-item i {
        font-size: 6em
    }

    .workflow-caption {
        padding: 0px;
        font-size: .95em;
        line-height: 160%;
    }

    .workflow-caption p {
        position: relative;
        margin-top: 25%;
    }
}

/* SLOGAN */

/* ------------------------------------------------------- */

.slogan .lead {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 2.7em;
    text-align: center;
    margin: 0px auto;
}

.slogan span {
    color: #009c82
}

/* clients-content */

/* ------------------------------------------------------- */

.clients-content {
    border-bottom: solid 1px #ccc;
    overflow: auto;
}

.clients-item:nth-child(4n-3) {
    border-left: solid 1px #ccc
}

.clients-item {
    width: 25%;
    float: left;
    overflow: hidden;
    position: relative;
    margin: 0;
    padding: 0;
    padding: 20px 0;
    border-right: solid 1px #ccc;
    background-color: #fff;
    border-top: solid 1px #ccc;
}

.clients-item img {
    margin: 0 auto;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.clients-caption {
    position: absolute;
    width: 100%;
    background-color: #009c82;
    color: #fff;
    bottom: -100px;
    left: 0;
    z-index: 2;
    padding: 0 10px;
    height: 100px;
    text-align: center;
    -webkit-transition: all .25s linear;
    -moz-transition: all .25s linear;
    -ms-transition: all .25s linear;
    -o-transition: all .25s linear;
    transition: all .25s linear;
}

.clients-caption h1,
.clients-caption h2,
.clients-caption h3,
.clients-caption h4,
.clients-caption h5 {
    color: #fff;
}

@media (min-width: 600px) { 

.clients-item:hover .clients-caption,
.clients-item.cs-hover .clients-caption {
    bottom: 0
}

.clients-item:hover img,
.clients-item.cs-hover img {
    -webkit-transform: translateY(-50px);
    -moz-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    -o-transform: translateY(-50px);
    transform: translateY(-50px);
}

}

.clients-caption h4 {
    font-size: 1.6em;
    font-family: 'Open Sans', sans-serif;
}

.clients-caption p {
    margin: 0
}

/* bottom-widgets */

/* --------------------------------------------------------- */

#bottom-widgets {
    background-color: #009c82;
    color: #fff;
    margin-top: 30px;
    padding-top: 20px;
}

#bottom-widgets a {
    color: #fff
}

#bottom-widgets a:hover {
    color: #00ffd4
}

#bottom-widgets h3 {
    color: #00ffd4;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    line-height: 100%;
}

.footer-widget {
    margin-bottom: 20px
}

.footer-widget ul {
    padding-left: 0
}

.footer-widget li {
    list-style-type: none;
    list-style-position: outside;
    line-height: 180%;
}

.footer-widget li > a > i {
    margin-right: 10px
}

.footer-post img {
    border: solid 3px #bacdca
}

.footer-post-date {
    color: #bacdca;
    font-style: oblique;
    display: block;
}

.footer-widget > h3.logo {
    text-transform: lowercase;
    font-size: 2.1em;
    padding: 5px 0 5px 0px;
    letter-spacing: -1px;
}

.footer-widget > h3.logo > span {
    color: #fff
}

.footer-widget > p {
    line-height: 180%
}

.footer-sitemap {
    margin-bottom: 30px;
    overflow: hidden;
}

.footer-social > a {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 1s;
    -webkit-transition-property: background;
    -webkit-transition-timing-function: ease;
    background-clip: border-box;
    background-color: #009c82;
    background-image: none;
    background-origin: padding-box;
    color: #fff;
    cursor: auto;
    display: inline-block;
    font-size: 21px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    vertical-align: baseline;
    width: 35px;
}

.footer-social > a.i-rss {
    background-color: #f47822
}

.footer-social > a.i-twitter {
    background-color: #00acee
}

.footer-social > a.i-facebook {
    background-color: #0173b2
}

.footer-social > a.i-google {
    background-color: #f00
}

.footer-social > a.i-pinterest {
    background-color: #cb2229
}

.footer-social > a.i-linkedin {
    background-color: #0274b3
}

.footer-social > a:hover {
    color: #fff !important;
    background-color: #000;
}

/* Footer */

/* ------------------------------------------------------- */

#footer {
    background-color: #303030;
    color: #fff;
    padding: 20px;
    text-align: center;
    padding: 20px 0;
}

#footer p {
    margin-bottom: 0
}

#footer a {
    color: #ccc;
}

#footer a:hover {
    color: #fff;
    text-decoration: underline;
}

/* carousel-text */

/* ----------------------------------------------------------*/

.carousel-text .carousel-caption {
    color: #303030;
    position: static;
    text-align: left;
    text-shadow: none;
    margin: 0;
    padding: 0;
}

.carousel-text .carousel-caption blockquote {
    border: 0
}

.carousel-text .carousel-caption small {
    text-align: right
}

.carousel-text .carousel-caption p {
    font-size: 1.3em;
    line-height: 160%;
}

.carousel-text .item {
    border-bottom: solid 5px #009c82
}

.carousel-text .carousel-indicators {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: static;
    width: 100%;
    text-align: left;
}

.carousel-text .carousel-indicators li {
    display: inline-block;
    margin: 0 13px 0 0;
    padding: 20px 0 0 0;
    position: relative;
    width: auto;
    height: auto;
    text-indent: 0;
    border: 0;
    border-radius: 0;
}

.carousel-text .carousel-indicators img {
    border-radius: 50px
}

@media (min-width: 1200px) {
.carousel-text .carousel-indicators .active:before {
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    text-decoration: inherit;
    -webkit-font-smoothing: antialiased;
    *margin-right: .3em;
    content: "\f0d7";
    position: absolute;
    top: -7px;
    left: 37%;
    font-size: 2.5em;
    margin: 0;
    padding: 0;
    color: #009c82;
}

}

@media (max-width: 1199px) {

.carousel-text .carousel-indicators li {
    padding: inherit 0;
    margin-right: 0;
}

.carousel-text .carousel-indicators img {
    border: solid 5px #fff;
    border-radius: 50px;
}

.carousel-text .carousel-indicators .active img {
    border: solid 5px #009c82;
}

}

/* Blog */

/* --------------------------------------------------------- */

.post {
    margin-bottom: 40px;
    overflow: hidden;
}

.post h1 {
    font-size: 2em;
    margin: 0 0 10px 0;
}

.post img {
    padding: 5px;
    border: solid 1px #ccc;
    background-color: #eee;
    margin: 0 auto 20px auto;
}

.post p {
    line-height: 170%
}

.post-info {
    margin-top: 20px;
    padding: 5px 0;
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    overflow: hidden;
    vertical-align: baseline;
}

.post-info span {
    color: #009c82
}

.pi-content {
    margin-top: 5px;
    display: inline-block;
}

/* Sidebar */

/* --------------------------------------------------------- */

.sidebar {

}

.block {
    margin-bottom: 40px
}

.block {
    margin-bottom: 40px
}

.block h2 {
    background-color: #009c82;
    color: #fff;
    padding: 8px;
    margin: 0 0 10px 0;
    font-size: 1.4em;
    font-family: 'Open Sans', sans-serif;
}

.block h2 > i {
    margin-right: 10px;
    font-size: 1.1em;
}

.block .nav > li > a > i {
    font-size: 1.3em
}

.block h3 {
    color: #009c82;
    padding: 0;
    margin: 0 0 10px 0;
}

.block ul {
    padding: 0
}

.block ul.simple li {
    list-style-type: none;
    margin: 3px 0;
}

.block ul.simple li a {
    border-left: solid 2px #009c82;
    padding-left: 20px;
}

.block ul.simple li a:hover {
    border-color: #000
}

.block ul.simple li ul {
    padding-left: 20px
}

.post-sidebar {
    padding: 0
}

.post-sidebar li {
    list-style-type: none;
    overflow: hidden;
    margin-bottom: 20px;
}

.post-sidebar img {
    float: left;
    padding: 5px;
    border: solid 1px #ccd;
    background-color: #ddd;
    margin-right: 10px;
}

.post-sidebar h4 {
    margin: 0;
    padding: 0;
    line-height: 140%;
    font-size: 1.1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.post-sidebar .date {
    margin-top: 10px;
    color: #666;
    display: block;
}

.tags-cloud a {
    border: solid 1px #009c82;
    padding: 3px;
    margin: 2px;
    display: inline-block;
    font-size: .9em;
}

.tags-cloud a:hover {
    background-color: #009c82;
    color: #fff;
}

.comments-sidebar li {
    list-style-type: none;
    margin: 10px 0;
    overflow: hidden;
}

.comments-sidebar li:nth-child(2n) img {
    border-radius: 50px;
    float: left;
    margin-right: 10px;
}

.comments-sidebar li:nth-child(2n+1) img {
    border-radius: 50px;
    float: right;
    margin-left: 10px;
}

.comments-sidebar li h4 {
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 140%;
}


/* -------------------------------------------------- */
/* ABOUT PAGE                                        |*/
/* -------------------------------------------------- */

#about-slogan {
    margin-bottom: 40px;
}

#about-slogan > .slogan {
    margin-bottom: 40px;
}

#about-slogan img {
    padding: 10px;
    border: solid 1px #ccc;
    margin-bottom: 20px;
}

#about-slogan p.lead {
    text-align: center;
    font-style: oblique;
    font-size: 2em;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
}


/* about-description */
/* -------------------------------------------------- */

#about-description {
    line-height: 180%;
    font-size: 1.1em;
}

/* about-info */
/* -------------------------------------------------- */

#about-info {
    border-top: solid 1px #009c82;
    padding-top: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
}

@media (min-width: 991px) {

    #about-info {
        border-left: solid 1px #009c82;
        padding-left: 30px;
        border-top: none;
        padding-top: 0;
        margin-top: 0;
    }

}

#about-info > .about-item {
    overflow: hidden;
    margin-bottom: 20px;
}

.about-item-icon {
    float: left;
}

#about-info > .about-item i {
    font-size: 4em;
    margin-right: 20px;
}

#about-info > .about-item h3 {
    margin: 0;
    padding: 0 0 10px 0; 
}

#about-info > .about-item p {
    line-height: 170%;
}



.about-team-item {
    max-width: 360px;
    margin: 0 auto 40px auto !important;
}

.about-team-item:hover .about-team-item-social {
    visibility: visible;
    opacity: 1;
    
}

.about-team-item img {
    display: block;
    margin: 0 auto;
}



.about-team-item h3 {
    text-align: center;
    font-size: 1.3em;
    margin: 0;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    position: absolute;
    left: 0;
    bottom: 0;
}

.about-team-item-content {
    padding: 15px;
    border-left: solid 1px #008974;
    border-right: solid 1px #008974;
}

.about-team-item-header {
    position: relative;
    background-color: #f00;
    border-top: solid 1px #008974;
    border-left: solid 1px #008974;
    border-right: solid 1px #008974;
}

.about-team-item-social {
    position: absolute;
    padding: 7px;
    background-color: rgba(0, 0, 0, .7);
    display: block;
    width: 100%;
    visibility: hidden;
    opacity: 0;

    transition: all .3s;
    -webkit-transition: all .3s;
}

.about-team-item-social a {
    color: #fff;
}

.about-team-item-social a:hover {
    color: #009c82;
}

.about-team-item-social i {
    font-size: 1.7em;
    margin: 0 8px;
}

.about-team-item-footer a {
    color: #fff;
    background-color: #008974;
    text-align: center;
    padding: 5px;
    display: block;
    border: solid 1px #008974;
    border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
}

.about-team-item-footer a:hover {
    background-color: #009c82;
}

@media (min-width: 1200px) {

.about-team-item {
    width: 95%;
}

}

/* about-stats */
/* -------------------------------------------------- */


#about-stats {
    background-color: #009c82;
    color: #fff;
    text-align: center;
    padding: 20px 0 0 0;
}

.about-stats-item {
    margin-bottom: 20px;
}

#about-stats p {
    margin: 0;
    text-align: center;
}

#about-stats p > span {
    font-size: 1.4em;
    display: block;
}

#about-stats i {
    display: block;
    font-size: 5em;
    margin-bottom: 10px;
}

/* CONTACT PAGE */
/* ------------------------------------------------------------------ */

.contact-info h3 {
    color: #009c82;
}



/* ERROR 404 PAGE */
/* ------------------------------------------------------------------ */

.error-404 {
    padding: 20px;
}

#center-form {
    padding: 20px;
}


@media (min-width: 470px) {

.error-404 {
    display: block;
    text-align: center;
    padding: 100px;
}

.error-404 h1 {
    font-size: 6em;
    text-transform: uppercase;
    font-weight: 400;
}

.error-404 h2 {
    font-size: 4em;
    text-transform: uppercase;
}

#center-form {
    margin: 0 auto;
    max-width: 400px;
}

}

/* Coming Soon */
/* ----------------------------------------------*/

.coming {
    background-color: #444;
    color: #999;
}

.coming h1 {
    color: #fff;
    padding: 20px 0 20px 0px;
    font-size: 4em;
    text-transform: lowercase;
}

.coming h1 span {
    color: #009c82;
}

.coming h1 i {
    margin-right: 20px;
}

.coming-logo > p {
    font-size: 1.8em;
    font-weight: 300;
    line-height: 160%;
    color: #c2cadc;
}

.coming h2 {
    font-size: 3em;
    color: #fff;
    margin-top: 20px;
}

.coming-info {
    margin-bottom: 40px;
}

.coming-color {
    background-color: #009c82;
    background-color: rgba(95, 195, 255, 0.8);
}

.coming-social > a {
    -webkit-background-clip: border-box;
    -webkit-background-origin: padding-box;
    -webkit-background-size: auto;
    -webkit-transition-delay: 0s;
    -webkit-transition-duration: 1s;
    -webkit-transition-property: background;
    -webkit-transition-timing-function: ease;

    background-clip: border-box;
    background-color: #666;
    background-image: none;
    background-origin: padding-box;
    color: #fff;
    cursor: auto;
    display: inline-block;

    font-size: 21px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-decoration: none;
    transition-delay: 0s;
    transition-duration: 1s;
    transition-property: background;
    transition-timing-function: ease;
    vertical-align: baseline;
    width: 35px;
}

.coming-social > a:hover {
    background-color: #009c82;
}

.coming-copy {
    padding-top: 10px;
}


@media (min-width: 768px) {

.coming-logo {
}

.coming-subs {
    margin: 20px 0;
}

.coming-copy {
    text-align: right;
}

}

@media (min-width: 992px) {

.coming {
    padding-top: 100px;
}

.coming-footer {
    margin-top: 100px;
}

.coming-info {
    border-right: solid 1px #009c82;
    padding-right: 50px;
    margin-bottom: 0;
}

}


/* PORTFOLIO */
/* ----------------------------------- */

#Grid .mix{
    opacity: 0;
    display: none;
}

.portfolio .thumbnail {
    margin-bottom: 30px;
}

.portfolio-control {
    padding: 0;
    margin-bottom: 20px;
}

.portfolio-control > li {
    cursor: pointer;
    display: inline-block;
    padding: 8px;
    margin-right: 5px;
    border: solid 1px #ccc;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    margin-bottom: 5px;
}

.portfolio-control > li.active,
.portfolio-control > li:hover {
    background-color: #009c82;
    color: #fff;
}

.portfolio a.thumbnail:hover {
    border-color: #5fc3ff;
}

.portfolio-item img {
    margin-bottom: 20px;
}

.portfolio-item h2 {
    margin-top: 0;
    padding-top: 0;
    font-size: 2em;
}

.portfolio-item p {
    line-height: 180%;
}

.item-footer {
    padding-top: 20px;
    text-align: center;
    margin: 0 auto;
}

.portfolio-related a {
    margin-bottom: 20px;
}

.portfolio-item-info {
    font-size: 0.8em;
    margin-bottom: 10px;
}


/* Portafolio ITEM */

.portfolio-item h2 {
    margin: 0 0 10px 0;
}

.portfolio-item img {
    padding: 10px;
    border: solid 1px #ccc;
    background-color: #eee;
}

.portfolio-item-info {
    font-size: 0.9em;
    margin-bottom: 10px;
}


.portfolio-item-footer {
    text-align: center;
    margin-top: 20px;
}

.portfolio-related a {
    margin-bottom: 20px;
}

.portfolio-item-info {
    font-size: 0.8em;
    margin-bottom: 10px;
}



/* Login */
/* -------------------------------------------------- */

#login {
    background-color: #444;
}

#login-form {
    margin: 20px;
}

#login-form h1 {
    color: #fff;
    padding: 0px;
    font-size: 2.5em;
    text-transform: lowercase;
    margin: 0;

}

@media (min-width: 400px) {

#login-form {
    position: absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin: auto;
    height: 370px;
    max-width: 400px;
    
}

#login-form h1 {
    padding: 0;
    font-size: 4em;
    margin: 0 auto;
}

}


#login-form h1 > span {
    color: #009c82;
}

#login-form form {
    margin: 20px auto 0 auto;
    padding: 20px;
    overflow: hidden;
    background-color: #fff;

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #bbb;

    -webkit-box-shadow: 5px 5px 31px -5px rgba(0,0,0,0.58);
    -moz-box-shadow: 5px 5px 31px -5px rgba(0,0,0,0.58);
    box-shadow: 5px 5px 31px -5px rgba(0,0,0,0.58);
}

#login-form form .input-group {
    margin: 10px 0;
}


/* Register */
/* -------------------------------------------------- */

.register-terms ol li {
    margin-bottom: 10px;
}


.register-terms h2 {
    margin-top: 0;
    padding-top: 0;
    color: #009c82;
}


/* Pricing */
/* ------------------------------- */

.pricign-box {
    border: solid 1px #444;
    -webkit-box-shadow: 3px 3px 8px 0px rgba(204,204,204,1);
    -moz-box-shadow: 3px 3px 8px 0px rgba(204,204,204,1);
    box-shadow: 3px 3px 8px 0px rgba(204,204,204,1);
    margin-bottom: 20px;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.pricign-box:hover {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}

.pricing-box-header {
    color: #fff;
    background-color: #444;
    padding: 10px;
}

.pricing-box-header > h2 {
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 100%;
    font-size: 2.2em;
    text-align: center;
    color: #fff;
}

.pricing-box-header > p {
    font-size: .9em;
    font-weight: 300;
    text-align: center;
    margin: 0;
}

.pricing-box-price {
    padding: 10px;
    margin-bottom: 7px;
    background-color: #ededed;
    border-bottom: solid 1px #ddd;
}

.pricing-box-price h3 {
    margin: 0;
    padding: 0;
    line-height: 100%;
    font-size: 2.6em;
    text-align: center;
}

.pricing-box-price h3 > sub {
    font-size: .6em;
}

.pricing-box-content > ul {
    padding: 0;
}

.pricing-box-content > ul > li {
    list-style-type: none;
    padding: 7px 0;
    border-bottom: dotted 1px #ddd;
    vertical-align: top;
}

.pricing-box-content > ul > li > i {
    margin: 0 14px;
    font-size: 1.4em;
    list-style-position: inside;
}

.pricing-box-footer {
    margin: 10px auto;
    text-align: center;
}

.pricign-box-pro {
    border-color: #009c82;
}

.pricign-box-pro > .pricing-box-header {
    color: #fff;
    background-color: #009c82;
}


/* Blog Single Item */
/* --------------------------------------------- */

.single h1 {
    font-size: 2em;
    color: #009c82;
    margin: 0 0 5px 0;
    text-transform: uppercase;
}

.single-info {
    font-size: 0.9em;
    margin-bottom: 10px;
}

.single > .img-feature {
    border: solid 1px #ccc !important;
    padding: 5px !important;
    margin-bottom: 20px;
}

.single {
    line-height: 180%;
    margin-bottom: 15px;
}

/* Comments */

.comments {
    margin-bottom: 15px;
    font-size: 0.9em;
}

.comments .media {
    margin-bottom: 10px;
}

.comments .media-object {
    padding: 3px;
    border: solid 1px #ccc;
}

.comments h4 {
    font-weight: 400;
    color: #009c82;
}

.comments h4 > span {
    float: right;
    font-size: .7em;
}

.comment-form {
    margin-bottom: 20px;
}


/* Services */
/* --------------------------------------------------------- */

.services-btn {
    margin: 20px 0;
    text-align: center;
}

.service-item {
    margin: 40px 0;
}

.service-item i {
    font-size: 19em;
}

.service-item-icon {
    text-align: center;
}


/* Color Switcher */
/* --------------------------------------------------------- */

@media (max-width: 991px) { 
    #color-switcher {
        visibility: hidden
    }
}

#color-switcher {
    position: fixed;
    top: 30%;
    left: -180px;
    z-index: 10000;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

#color-switcher:hover {
    left: 0
}

#color-switcher h3 {
    font-size: 1.4em
}

#color-switcher-content {
    background-color: #fff;
    padding: 10px;
    border: solid 1px #ccc;
    display: inline-block;
    width: 180px;
}

#color-switcher-content a.color {
    display: inline-block;
    text-indent: -999px !important;
    width: 25px;
    height: 25px;
    background-color: #fff;
    border: solid 1px #000;
    margin: 2px;
}

#color-switcher-tab {
    display: inline-block;
    background-color: #fff;
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    border-right: solid 1px #ccc;
    padding: 5px;
    margin-left: -5px;
    vertical-align: top;
    border-radius: 0px 5px 5px 0;
}

#color-switcher-content a.color.default {
    background-color: #009c82
}

#color-switcher-content a.color.orange {
    background-color: #FF7A40
}

#color-switcher-content a.color.violet {
    background-color: #a76dd3
}

#color-switcher-content a.color.gold {
    background-color: #b0ab30
}

#color-switcher-content a.color.green {
    background-color: #69b63f
}

#color-switcher-content a.color.blue {
    background-color: #348fcf
}

#color-switcher-content a.color.purple {
    background-color: #ac1a65
}

#color-switcher-content a.color.navyblue {
    background-color: #252fb4
}

#color-switcher-content a.color.turquoise {
    background-color: #25acb4
}

#color-switcher-content a.color.plate {
    background-color: #a2a2a2
}

#color-switcher-content a.color.pink {
    background-color: #df9ae3
}

#color-switcher-content a.color.pistachio {
    background-color: #8ea062
}

#color-switcher-content a.color.lightorange {
    background-color: #ffa854
}

#color-switcher-content a.color.greengrass {
    background-color: #25b56f
}

#color-switcher-content a.color.puregreen {
    background-color: #29870f
}

#color-switcher-content a.color.yellow {
    background-color: #d5c300
}

#color-switcher-content a.color.niceblue {
    background-color: #146eba
}

#color-switcher-content a.color.skyblue {
    background-color: #7eb1dd
}

#color-switcher-content a.color.fuchsia {
    background-color: #ba06c1
}

#color-switcher-content a.color.brown {
    background-color: #b9623b
}

/**/