    @keyframes anim{
      0%{
        transform: perspective(500px) rotateY(0deg);
      }
      25%{
        transform: perspective(500px) rotateY(20deg);
      }
      50%{
        transform: perspective(500px) rotateY(0deg);
      }
      75%{
        transform: perspective(500px) rotateY(-20deg);
      }
      100%{
        transform: perspective(500px) rotateY(0deg);
      }
    }
    @keyframes jump{
      100%{
         transform: translate(0,-10px);
      }
    }
    @keyframes turn{
      100%{
         transform: Rotate(360deg);
      }
    }
    *{
		  margin: 0;
		  padding: 0;
	  }
    ul{
      list-style: none;
    }
    a{
      text-decoration: none;
	  }
	  html,body{
    	position: relative;
    	height: 100%;
    }
    body{
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }

    .swiper1 {
      width: 100%;
      height: 100%;
    }
    .swiper1 .swiper-slide {
      position: relative;
      /*text-align: center;*/
      font-size: 18px;
      background: #fff;
      overflow: hidden;
      display: flex;
		
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    .swiper1 .top-nav{
      position: fixed;
      top: 100px;
      left: 100px;
      z-index: 10;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      text-align: center;
      line-height: 100px;
      font-size: 32px;
      color: #fff;
      box-shadow: 0 0 70px cyan, 0 0 70px cyan;
      cursor: pointer;
      transform: rotate(0deg);
      animation: turn 6s linear 0s infinite;
    }
    .swiper1 .top-nav:hover{
       box-shadow: 0 0 70px gold, 0 0 70px purple;
    }
    .swiper1 .top-nav img{
      border-radius: 50%;
    }
  	.swiper1 .swiper-pagination .swiper-pagination-bullet{
  		width: 36px;
  		height: 36px;
  		opacity: 1;
  		border: 12px solid rgba(255,0,0,0);
  		box-sizing:border-box;
  		-webkit-background-clip: content-box;
  		-moz-background-clip: content-box;
  		background-clip: content-box;
  		background-image: url();
  		background-repeat: no-repeat;
  		background-position: center;
  		background-color: rgba(0,0,0,0.7);
  	}	
  	.swiper1 .swiper-pagination .swiper-pagination-bullet-active{
  		border:none;
  		background-color: rgba(0,0,0,0.7);
  	}
  	.swiper1 .swiper-pagination span:nth-child(1).swiper-pagination-bullet-active{
  		background-image: url(../images/homepage.png);
  		background-size: 24px 24px;	
  	}
  	.swiper1 .swiper-pagination span:nth-child(2).swiper-pagination-bullet-active{
  		background-image: url(../images/mine.png);
  		background-size: 24px 24px;
  	}
  	.swiper1 .swiper-pagination span:nth-child(3).swiper-pagination-bullet-active{
  		background-image: url(../images/energy.png);
  		background-size: 24px 24px;
  	}
  	.swiper1 .swiper-pagination span:nth-child(4).swiper-pagination-bullet-active{
  		background-image: url(../images/barrage.png);
  		background-size: 24px 24px;
  	}
  	.swiper1 .swiper-pagination span:nth-child(5).swiper-pagination-bullet-active{
  		background-image: url(../images/manage.png);
  		background-size: 24px 24px;
  	}
  	.swiper1 .swiper-pagination span:nth-child(6).swiper-pagination-bullet-active{
  		background-image: url(../images/mail.png);
  		background-size: 24px 24px;
  	}
    .oneTitle{
      text-shadow: 5px 5px 2px yellowgreen;
      color: #fff;
      font-size: 52px;
      font-weight: 700;
      position: absolute;
      top: 50%;
      margin-top: -320px;
      z-index: 99;
    }
    .oneText{
      width: 560px;
      height: 260px;
      border-radius: 30px;
      background-color: rgba(235,235,241,0.5);
    	font-size: 26px;
      font-family: "幼圆";
		  position: absolute;
		  color: #333;
      text-align: center;
      top: 50%;
      font-weight: 700;
      margin-top: 50px;
      line-height: 50px;
      box-shadow: 0 0 70px #111;
      transform-style: preserve-3d;
      transform: perspective(500px) rotateY(0deg);
      z-index: 99;
      
    }
    .oneText:hover{
      transform: translate(0,-5px);
      animation: anim 10s linear 0s infinite alternate;
      box-shadow: 
        4px -4px 4px cyan,
        -4px 4px 4px cyan,
        8px -8px 20px cyan,
        -8px 8px 20px cyan;
      cursor: pointer;
    }
    .oneText span{
      position: relative;
      top: 90px;
    }
    .oneText .email{
      color: #915035;
      font-weight: 700;
    }
    .user-img{
      border: 10px solid gold;
      position: absolute;
      top: 50%;
      margin-top: -200px;
      width: 200px;
      height: 200px;
      background-image: url(../images/user.jpeg);
      background-size: 200px 200px;
      border-radius: 50%;
      box-shadow: 
        4px -4px 20px cyan,
        -4px 4px 20px cyan,
        8px -8px 50px cyan,
        -8px 8px 50px cyan;
      animation: jump 1s linear 0s infinite alternate;
      z-index: 99;
    }
    .twoTitle{
      text-shadow: 10px 12px 5px purple;
      color: #33ccff;
      font-size: 52px;
      font-weight: 700;
      position: absolute;
      top: 50%;
      margin-top: -300px;
    }
    .twoText{      
      width: 600px;
      height: 400px;
      position: absolute;
      text-align: center;
      line-height: 50px;
      font-size: 23px;
      color: #fff !important;
    }
    .twoText span{
      position: relative;
      top: 50px;
      line-height: 39px;
      background-color: #C81C88;
      border-radius: 10px;
      padding: 4px;
      box-shadow: 0 0 70px #111;

    }
    .twoText span:hover{
      box-shadow: 0 0 70px pink;
      cursor: pointer;
    }
    img{
      width: 100%;
      height: 100%;
    }
    .threeTitle{
      text-shadow: 10px 12px 5px gray;
      color: orange;
      font-size: 52px;
      font-weight: 700;
      position: absolute;
      top: 50%;
      margin-top: -300px;
    }
    .threeText{
      margin-top: 100px;
      width: 890px;
      height: 500px;
      font-size: 22px;
      color: #fff;
      position: absolute;
      cursor: pointer;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      transform-style: preserve-3d;
    }
    .block{
      height: 200px;
      text-align: center;
      border-radius: 10px;
      -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      transition: all 1s ease 0S;
      perspective: 800px;
      transform-style: preserve-3d;
      transform: translateZ(500px);     
     }
    .block:hover .show{
      transform: rotateY(-180deg);
    }
    .block:hover .hiden{
      transform: rotateY(0deg);
    }
    .block>div {
      box-shadow: 2px 2px 10px purple;
      width: 150px;
      height: 200px;
      text-align: center;
      background: rgba(0,0,0,.6);
      border-radius: 10px;
      position: absolute;
      top: 0;
      transition: all 1s ease 0S;
      -webkit-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    .block .show{
      position: relative;
      display: block !important;
    }
    .block .hiden{
      transform: rotateY(180deg);
    }
    .block .hiden p{
      font-size: 16px;
      line-height: 30px;
      padding: 0 15px;
      margin-top: 30px;
      color: gold;
    }
    .block strong{
      display: block;
      height: 25px;
      margin: 10px auto;
    }
    .block img{
      width: 60px;
      height: 60px;
      border-radius: 15px;
      margin-top: 30px;
    }
    .block .small{
      width: 50px;
      height: 50px;
      border-radius: 0px;
    }
    .fourTitle{
      text-shadow: 10px 12px 5px gray;
      color: #17FF04;
      font-size: 52px;
      font-weight: 700;
      position: absolute;
      top: 50%;
      margin-top: -300px;
    }
    .fourText{
      width: 500px;
      height: 500px;
      font-size: 32px;
      color: #fff;
      position: absolute;
      margin-left: -200px;
    }
    .fourText li{
      border-radius: 10px;
    }
    .fourText .txt{
      border-radius: 10px;
    }
    .fourText p{
      margin-left: 21px;
    }
    .fiveTitle{
      text-shadow: 10px 12px 5px gray;
      color: gold;
      font-size: 52px;
      font-weight: 700;
      position: absolute;
      top: 50%;
      margin-top: -300px;
    }
    .fiveText{
      width: 500px;
      height: 500px;
      font-size: 32px;
      color: #fff;
      position: absolute;
      margin-left: -200px;
    }
    .sixTitle{
      text-shadow: 10px 12px 5px gray;
      color: #BA49B5;
      font-size: 52px;
      font-weight: 700;
      position: absolute;
      top: 50%;
      margin-top: -300px;
    }
    .sixText{
      width: 500px;
      height: 500px;
      color: #fff;
      position: absolute;
      top: 50%;
      text-align: center;
    }
    .sixText span{
      font-size: 23px;
    }
    .sixText .line1{
      width: 600px;
      height: 6px;
      background-color: gold;
      margin-left: -50px;
      margin-bottom: 30px;
    }
    .sixText .line2{
      width: 600px;
      height: 6px;
      background-color: gold;
      margin-left: -50px;
      margin-top: 30px;
    }

    .fourWrap{
      overflow: hidden;
        width: 900px;
        height: 280px;
        margin: 100px auto;
        padding: 70px 0 0 70px;
        cursor: pointer;
        position: relative;
        background-color: rgba(163, 171, 220,0.5);
        border-radius: 30px;
        color: purple;
        box-shadow: 0 0 70px #111;
        /*font-size: 26px;*/
        text-shadow: 10px 12px 5px cyan;
    }
    .fourWrap li{
      background-position: center center;
      background-repeat: no-repeat;
      height: 420px;
      opacity: 0.9;
      float: left;
      transition:width 1s;
    }
    .fourWrap li span{
      position: absolute;
      top: 100px;
      margin-left: 100px;
    }
    .fourWrap .pic1{
      width: 100px;
      background-color: rgba(163, 171, 220,0.5); 
    }
    .fourWrap .pic2{
      width: 100px;
      background-color: rgba(163, 171, 220,0.5); 
    }
    .fourWrap .pic3{
      width: 100px;
      background-color: rgba(163, 171, 220,0.5); 
    }
    .fourWrap .pic4{
      width: 600px;
      background-color: rgba(163, 171, 220,0.5); 
    }
    .fourWrap .txt{
      background-color: #000;
      background: rgba(0,0,0,.5);
      border: 1px solid #999;
      border-top: 0px solid rgba(0,0,0,0);
      height: 420px;
      width: 98px;
      float: left;
    }
    .fourWrap .txt p{
      float: left;
      color: #fff;
      font-size: 18px;
      width: 13px;
      padding: 25px 25px 0 20px;
    }
    .swiper2{
      width: 100%;
      height: 100%;
      position: absolute;
    }
    .loader-inner{
      z-index: 99;
    }
    .swiper3 {
      width: 1260px;
      height: 280px;
      position: absolute;
      top: 30%;
      left: -32%;
    }
    .swiper3 span{
      position: absolute;
      background-color: #999;
      padding: 5px;
      font-size: 26px;
      opacity: 0.8;
      border-radius: 10px;
    }
    .link{
      position: absolute;
      margin-top: 40px;
    }



    #block{
      width: 100%;
      height: 100%;
      position: relative;
      margin: 20px auto;
      overflow: hidden;
    }
    #ul_list{
      margin: 0;
      padding: 0;
    }
    #ul_list li{
      width: 100%;
      height: 100%;
      position: absolute;
      list-style: none;
      display: none;
    }
    #ul_list li img{
      width: 100%;
      height: 100%;
    }

    
